
body{
   font-family: Monsterrat; 
   background-color: #D3D3D3;    
}

.carousel-item {
  height: 350px; /* Adjust the height as per your requirement */
}

.col {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 25%;
  margin: 0 1%;
}



.col {
  border: 1px solid black;
  padding: 10px;
}



.contact {
  height: 420px;
}

div.content{
  height: 100px;
}

